<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryInitializers>
    <Add Type="Microsoft.ApplicationInsights.Web.AzureAppServiceRoleNameFromHostNameHeaderInitializer, Microsoft.AI.Web"/>
  </TelemetryInitializers>
  
  <InstrumentationKey>359058d8-7d99-4cd4-8299-a3cc5d5cc13d</InstrumentationKey>
</ApplicationInsights>